<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<servlet>
		<servlet-name>DefaultServlet</servlet-name>
		<jsp-file>/WEB-INF/html/login.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>DefaultServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GotoSignupServlet</servlet-name>
		<jsp-file>/WEB-INF/html/signup.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>GotoSignupServlet</servlet-name>
		<url-pattern>/gotosignup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GotoLogoutServlet</servlet-name>
		<jsp-file>/WEB-INF/html/logout.html</jsp-file>

	</servlet>
	<servlet-mapping>
		<servlet-name>GotoLogoutServlet</servlet-name>
		<url-pattern>/goToLogout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GotoMainServlet</servlet-name>
		<jsp-file>/WEB-INF/html/main.html</jsp-file>

	</servlet>
	<servlet-mapping>
		<servlet-name>GotoMainServlet</servlet-name>
		<url-pattern>/goToMain</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GotoLogoutConfirmationServlet</servlet-name>
		<jsp-file>/WEB-INF/html/logout_confirmation.html</jsp-file>

	</servlet>
	<servlet-mapping>
		<servlet-name>GotoLogoutConfirmationServlet</servlet-name>
		<url-pattern>/goToLogoutconfirm</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>com.full.servlet.HomeServlet</servlet-class>

	</servlet>

	<servlet-mapping>

		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
		<url-pattern>/main</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.full.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.full.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logoutconfirm</url-pattern>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<filter>
		 
		<filter-name>ObjectifyFilter</filter-name>
		 
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		 
		<filter-name>ObjectifyFilter</filter-name>
		 
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		 
		<listener-class>com.full.helper.OfyHelper</listener-class>
	</listener>

	<!-- <welcome-file-list> <welcome-file>index.html</welcome-file> </welcome-file-list> -->
</web-app>
